.questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0em 2em;
    padding-bottom: 11.4375em;
    /* padding: 4.812em 16.43em ; */
    /* width: clamp(30em, 100%, 26em); */
    background-color: #000000;
    color: white;
    background: linear-gradient(360deg, #000 0%, #200d42 26.21%, #4f21a1 48.68%);
}

.questions__title {
    font-size: 3.37em;
    font-style: normal;
    font-weight: 500;
    line-height: 60px; /* 111.111% */
    letter-spacing: -3.24px;
    margin-bottom: 1em;
    text-align: center;
}

